<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible_heading">Item 1</h2>
        <svg class="icon icon--primary collapsible_chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda atque dolore eaque fugiat in
        laborum libero veritatis voluptatibus!
    </div>
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible_heading">Item 1</h2>
        <svg class="icon icon--primary collapsible_chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda atque dolore eaque fugiat in
        laborum libero veritatis voluptatibus!
    </div>
</div>
<script src="js/main.js"></script>
